[Unit]
Description=Sanskrit bot
After=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=/home/bots/SanskritBot/venv/bin/python main.py
ExecReload=/home/bots/SanskritBot/venv/bin/python main.py
WorkingDirectory=/home/bots/SanskritBot/
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
